<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Error 500</title>

    <% css_file_name = "#{Application.app_dir(:feriendaten)}/priv/static/assets/app.css" %>

    <%= if File.exists?(css_file_name) do %>
      <style>
        <% {:ok, css} = File.read(css_file_name) %>
        <%= raw css %>
      </style>
    <% else %>
      <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <% end %>

    <meta name="robots" content="noindex" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="antialiased bg-white dark:bg-gray-900">
    <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
      <h1 class="text-2xl font-semibold text-center text-gray-900 dark:text-gray-100">
        404
      </h1>
      <h2 class="font-semibold text-center text-gray-900 text-1xl dark:text-gray-100">
        Page not found
      </h2>
      <p class="mt-2 text-base text-gray-700 dark:text-gray-100">
        Diese Seite ist nicht verfügbar. Falls es sich um einen Fehler handelt, so bitten
        wir Sie uns diesen auf
        <a href="https://github.com/Feriendaten/feriendaten.de/issues/new">
          https://github.com/Feriendaten/feriendaten.de/issues/new
        </a>
        zu melden. Bitte fügen Sie im Issue die URL dieser Seite hinzu. Danke!
      </p>
    </div>

    <.footer />
  </body>
</html>
