<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Startseite" %>
    </.live_title>
    <%= if assigns[:description] do %>
      <meta name="description" content={@description} />
    <% end %>

    <% css_file_name = "#{Application.app_dir(:feriendaten)}/priv/static/assets/app.css" %>

    <%= if File.exists?(css_file_name) do %>
      <style>
        <% {:ok, css} = File.read(css_file_name) %>
        <%= raw css %>
      </style>
    <% else %>
      <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <% end %>

    <%= if @noindex do %>
      <meta name="robots" content="noindex" />
    <% end %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CK74BKNW9Z">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CK74BKNW9Z');
    </script>
    <!-- Google AdSense -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9538764634478220"
      crossorigin="anonymous"
    >
    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="antialiased bg-white dark:bg-gray-900">
    <%= if assigns[:nav_bar_entries] do %>
      <.top_nav_bar nav_bar_entries={@nav_bar_entries} />
    <% end %>

    <%= @inner_content %>

    <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
      <div class="flex flex-wrap justify-center -mx-5 -my-2">
        <div class="px-5 py-2 text-xs text-gray-600 dark:text-gray-400">
          <p class="pt-4 text-center">Alle Angaben ohne Gewähr.</p>
          <p class="pt-4 text-center">
            Wir weisen darauf hin, dass diese Seite Google Analytics einsetzt und verweisen hierzu auf die
            <a class="underline" href="https://policies.google.com/privacy">
              Datenschutzerklärung
            </a>
            sowie auf die <a
              class="underline"
              href="http://tools.google.com/dlpage/gaoptout?hl=de"
            >Opt-Out-Möglichkeiten für Google-Analytics</a>.
          </p>
          <p class="pt-4 text-center">
            Diese Webseite verwendet Cookies, um Inhalte und Anzeigen zu personalisieren, Funktionen für soziale Medien anbieten zu können und die Zugriffe auf unsere Website zu analysieren. Außerdem geben wir Informationen zu Ihrer Verwendung unserer Website an unsere Partner für soziale Medien, Werbung und Analysen weiter. Unsere Partner führen diese Informationen möglicherweise mit weiteren Daten zusammen, die Sie ihnen bereitgestellt haben oder die sie im Rahmen Ihrer Nutzung der Dienste gesammelt haben. Sie geben Einwilligung zu unseren Cookies, wenn Sie unsere Webseite weiterhin nutzen.
          </p>
          <p class="pt-4 text-center">
            Weiterhin behalten wir uns vor, alle Daten an den Nikolaus (a.k.a. Weihnachtsmann 🎅🏻) zu verkaufen. Je nachdem wie gut Sie sich im laufenden Jahr verhalten haben, wird der Nikolaus Ihnen dann pünklich zum 06.12. den vor die Haustür gestellten Stiefel füllen. Es hat sich in der Vergangenheit gezeigt, das es auch gut ist, wenn man zum Besuch des Nikolaus ein - möglichst schönes - Gedicht auswendig vortragen kann.
          </p>
        </div>
      </div>
    </div>

    <footer class="bg-white dark:bg-gray-900">
      <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
          <div class="px-5 py-2 text-base text-gray-600 dark:text-gray-400">
            Version <%= FeriendatenWeb.ViewHelpers.version() %>
          </div>
          <div class="px-5 py-2">
            <a
              href="https://www.wintermeyer-consulting.de/impressum.html"
              class="text-base text-gray-600 dark:text-gray-400 hover:text-gray-900 hover:underline dark:hover:text-gray-100"
            >
              Impressum
            </a>
          </div>

          <div class="px-5 py-2">
            <.link
              phx-track-static
              rel="stylesheet"
              href={~p"/datenschutzerklaerung"}
              class="text-base text-gray-600 dark:text-gray-400 hover:text-gray-900 hover:underline dark:hover:text-gray-100"
            >
              Datenschutzerklärung
            </.link>
          </div>
        </nav>

        <p class="mt-8 text-base text-center text-gray-600 dark:text-gray-400 hover:text-gray-900 hover:underline dark:hover:text-gray-100">
          <a href="https://www.wintermeyer-consulting.de">&copy; 2022 Wintermeyer Consulting</a>
        </p>
      </div>
    </footer>
  </body>
</html>
