<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Startseite" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <%= if @noindex do %>
      <meta name="robots" content="noindex" />
    <% end %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CK74BKNW9Z">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CK74BKNW9Z');
    </script>
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9538764634478220"
     crossorigin="anonymous"></script>
  </head>
  <body class="antialiased bg-white dark:bg-gray-900">
    <%= if @year do %>
      <.ferien_top_navbar location={@location} year={@year} />
    <% else %>
      <.ferien_top_navbar location={@location} />
    <% end %>

    <%= @inner_content %>

    <footer class="bg-white dark:bg-gray-900">
      <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
          <div class="px-5 py-2">
            <a
              href="https://www.wintermeyer-consulting.de/impressum.html"
              class="text-base text-gray-600 dark:text-gray-400 hover:text-gray-900 hover:underline dark:hover:text-gray-100"
            >
              Impressum
            </a>
          </div>

          <div class="px-5 py-2">
            <.link
              phx-track-static
              rel="stylesheet"
              href={~p"/datenschutzerklaerung"}
              class="text-base text-gray-600 dark:text-gray-400 hover:text-gray-900 hover:underline dark:hover:text-gray-100"
            >
              Datenschutzerklärung
            </.link>
          </div>

          <div class="px-5 py-2">
            <a
              href="https://www.mehr-schulferien.de"
              class="text-base text-gray-600 dark:text-gray-400 hover:text-gray-900 hover:underline dark:hover:text-gray-100"
            >
              mehr-schulferien.de
            </a>
          </div>
        </nav>

        <p class="mt-8 text-base text-center text-gray-600 dark:text-gray-400 hover:text-gray-900 hover:underline dark:hover:text-gray-100">
          <a href="https://www.wintermeyer-consulting.de">&copy; 2022 Wintermeyer Consulting</a>
        </p>
      </div>
    </footer>
  </body>
</html>
